@font-face {
  font-family: 'gotham';
  src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
       url('/fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-light';
  src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/fonts/gotham-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

:root{
  /* Colour Variables */
  --clr-ui-dark: hsl(222 63% 3%);
  --clr-ui-dark-blur: hsl(222 63% 3% / 0.9);
  --clr-ui-light: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 5%);
  --clr-white: hsl(0 0% 100%);
  --clr-grey: hsl(215, 10%, 45%);
  --clr-grey2: rgb(34,38,47);  
  --clr-red: hsl(0, 100%, 40%);
  /* Other Variables */
  --page-padding: 1rem;
}

/* Reset */
html,
body,
button,
h1,
h2,
h3,
h4,
ul {
  padding: 0;
  margin: 0;   
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  background: none;
  border: none;
}

button:focus{
  outline: none;
  border: none;  
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Global CSS */

html,
body {  
  scroll-behavior: smooth;  
  background-color: var(--clr-ui-dark);
  font-family: 'gotham';
  color: var(--clr-white);
}

main{
  padding: 1rem;
  margin-inline: auto;
  max-width: 100rem;
  padding-inline: 4rem;
  min-height: 100vh;
}

/* Custom Classes */

.pill{
  content: '';
  height: inherit;
  width: 0.125rem;
  border-radius: 100vw;  
  background-color: var(--clr-red);
  color: var(--clr-red);
}

.heading_container{
  display: flex;
  padding-block: 2.5rem;
}

.heading_container h3{
  font-family: 'gotham-light';
  text-transform: uppercase;
  font-size: 1rem;
  padding-inline-start: 0.5rem;
}

.dot{
  height: 0.7rem;
  width: 0.7rem;
  background-color: var(--clr-grey);
  border-radius: 50%;
  display: inline-block;
  margin-inline: 0.75rem;  
}

.dot-small{
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--clr-grey);
  border-radius: 50%;
  display: inline-block;
  margin-inline: 0.75rem;  
}

.see_more_btn{
  cursor: pointer;
  width: 100%;
  height: 32px;
  color: var(--clr-white);
  background-color: var(--clr-grey2);
  border: solid 1px hsl(0 100% 40% /0.25);
}

/* Homepage CSS*/

.index_grid{
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  grid-auto-rows: min-content;
  grid-template-areas: 
    "featured matches"
    "featured matches"
    "featured matches"
    "featured matches"
    "featured matches"
    "featured matches"
    "featured matches"
    "featured matches"
    "featured matches"
    "featured matches"
    "featured socials"
    "latest twitch"
    "latest twitter";  
  gap: 16px 80px;  
}

#featured{
  grid-area: featured;
}

#matches{
  grid-area: matches;
}

#socials{
  grid-area: socials;
}

#latest{
  grid-area: latest;
}

#twitch{
  grid-area: twitch;    
}

#twitter{
  grid-area: twitter;
}

.news_link{
  cursor: pointer;
}

.news_details_container h2{
  text-transform: uppercase;  
  padding-block-start: 1.25rem;
  font-size: 1.8rem;
  color: var(--clr-white);
}

.news_details_container h4{
  text-transform: uppercase;  
  padding-block-start: 0.75rem;
  font-size: 0.9rem;
  color: var(--clr-grey);
} 

.news_link:hover{
  transform: scale(1.05);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* Recent Matches */

.matches_container{
  display: grid;
  grid-template-rows: repeat(4,1fr);  
  height: calc(100% - 97px);   
}

.match{
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;  
  border-top: solid 1px var(--clr-grey2);     
}

.match:last-child{
  border-bottom: solid 1px var(--clr-grey2); 
}

/* Socials */

#social_heading{
  padding-block-start: 1.5rem;
}

.socials_container{
  display: inline-block;
  opacity: 0.4;
  width: 100%;
  height: calc(100% - 73px);
  background-color: var(--clr-grey2);
}

.socials_list{
  display: inline-flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 2rem;
}

.social_icon{
  cursor: pointer;
}

.social_icon svg{
  width: 48px;
  height: 48px;
}

.social_icon_discord svg{
  width: 32px;
  height: 32px;
}

.social_icon_discord svg path{  
  fill: var(--clr-white);
}

.social_icon svg path{
  fill: var(--clr-white);
}

/* Latest News */

.latest_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 64px;
}

.latest_grid h2{
  padding-block-start: 1rem;
  font-size: 1rem;
}

.latest_grid h4{
  padding-block-start: 0.5rem;
  font-size: 0.75rem;
}

.more_news_container{ 
  display: flex;
  padding-block-start: 2rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 50%;
}



/* Twitch */

.twitch_container{
  width: 100%;
  aspect-ratio: 16/9;
}

/* Twitter */