@font-face {
  font-family: 'gotham';
  src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
       url('/fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-light';
  src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
       url('/fonts/gotham-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

:root{
  /* Colour Variables */
  --clr-ui-dark: hsl(222 63% 3%);
  --clr-ui-dark-blur: hsl(222 63% 3% / 0.9);
  --clr-ui-light: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 5%);
  --clr-white: hsl(0 0% 100%);
  --clr-grey: hsl(215, 10%, 45%);
  --clr-grey2: rgb(34,38,47);
  --clr-red: hsl(187, 100%, 50%);
  --clr-red1: hsl(0, 100%, 40%);
  /* Other Variables */
  --page-padding: 1rem;
}

/* Reset */
html,
body,
button,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;   
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  background: none;
  border: none;
}

button:focus{
  outline: none;
  border: none;  
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Global CSS */

html,
body {  
  scroll-behavior: smooth;  
  background-color: var(--clr-ui-dark);
  font-family: 'gotham';
  color: var(--clr-white);
}

main{
  padding: 1rem;
  margin-inline: auto;
}

.featured_news,.latest_news{
  cursor: pointer;
}

.news_image{
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.heading_container{
  display: flex;
  padding-block: 2.5rem;
}
.heading_container h3{
  padding-inline-start: 0.5rem;  
  font-size: 1rem;
  font-family: 'gotham-light';
  text-transform: uppercase;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 3rem;
}

.pill{
  content: '';
  height: inherit;
  width: 0.125rem;
  border-radius: 100vw;
  background-color: var(--clr-red);
}



.item a.current::before{  
  content: '';
  position: absolute;
  width: 100% !important;
  height: 3px;
  top: -16px;
  left: 0;
  border-radius: 4px;
  background: var(--clr-red);
  opacity: 100%;     
}


.latest_details, .featured_details{
  padding-block: 0.375rem;
}

.featured_details div{
  display: flex;  
  align-items: flex-end;
}

.featured_details div h4:nth-child(1){
  padding-inline-end: 1rem;
}

.featured_details h2{
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.featured_details h4{
  font-size: 0.75rem;
  color: var(--clr-grey);
}

.latest_details h2{
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
}
.latest_details h4{
  color: var(--clr-grey);
  font-size: 0.5rem;
}

.latest_details h4 span, .featured_details h4 span{
  padding-inline-start: 0.5rem;
}

.see_more_container{
  padding-block-start: 1rem;
}

.see_more{
  background-color: var(--clr-grey);
  width: 100%;
  height: 2rem;  
  
}

.our_teams_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our_teams_container img{  
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 50%;
  padding-block: 0.5rem;
}

.content_container p{
  font-family: 'gotham-light';
  font-size: 0.85rem;
  text-align: center;
  line-height: 1rem;
}

.side_content{
  display: none;
}

.matches{
  width: 100%;
  height: 360px;
  background-color: var(--clr-grey2);
}

footer{
  border-top: solid 1px var(--clr-grey2);
}

@media screen and (min-width:48rem) {
  main{
    padding-inline: 3rem; 
    max-width: 56rem;       
  }
}

@media screen and (min-width:64rem) {
  main{
    padding-inline: 4rem; 
    max-width: 80rem;    
  }

  .index_grid{
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    gap: 6rem;
  }

  .side_content{
    display: block;
  }
}

@media screen and (min-width:80rem) {
  main{     
    max-width: 96rem;      
  }
  
  .featured_details{
    display: flex;
    justify-content: space-between;    
  }
  .featured_details div{    
    flex-direction: column;
  }

  .featured_details div h4:nth-child(1){
    padding-inline-end: 0;
  }

  .grid{
    gap: 4rem;
  }
}

@media screen and (min-width:96rem) {
  main{
    max-width: 100rem;
  }
  
}


@media screen and (min-width:104rem) {
 
  
}

@media screen and (min-width:112rem) {
  
  
}


