.container{
    position: sticky;
    z-index: 50;
    top: 0;
    height: min-content;     
    background-color: var(--clr-ui-dark-blur);  
    border-bottom: solid 1px var(--clr-grey2);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    height: 3rem ; 
    padding: 1rem;
    margin-inline: auto;
}  

.logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.logo{
    height: 85%;
}

.menu{
    display: inline-flex;
    align-items: center;
    height: inherit;
    text-transform: uppercase;
    list-style: none;
}

.item{
    display: flex;
    padding-inline: 2rem;
    align-items: center;
    height: inherit; 
}

.link{
    display: flex;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    align-items: center;
    height: inherit;
    
    color: var(--clr-grey);
}

.link:hover{
    color: var(--clr-white);
}

.link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: -16px;
    left: 0;
    border-radius: 4px;
    background: var(--clr-red);
    opacity: 100%;    
}

.link:hover::before{
    background: var(--clr-red);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: -16px;
    left: 0;
    background: var(--clr-red);
    opacity: 100%;   
    border-radius: 4px;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);    
}

.link:hover::after{
    background: transparent;
    width: 100%;
    transition: 0s;
}

.link_current{
    display: flex;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    align-items: center;
    height: inherit;    
    color: var(--clr-white);
}

.link_current::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: -16px;
    left: 0;
    border-radius: 4px;
    background: var(--clr-red);
    opacity: 100%;        
}

.right_container{
    display: flex;
    height: inherit;
}

.right_container h4{
    display: flex;
    align-items: center;
    text-transform: uppercase;   
    text-align: center; 
    color: var(--clr-white);
}


.hamburger_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: inherit;
    aspect-ratio: 1;    
}

.hamburger{
    width: 1.875rem;
    height: 0.125rem;
    background-color: var(--clr-ui-light);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.hamburger::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--clr-ui-light);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;     
    transform: translate(-15px,-10px);     
}

.hamburger::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--clr-ui-light);
    border-radius: 5px;
    transition: all 0.2s ease-in-out; 
    transform: translate(-15px,10px);     
}

.hamburger_open{
    width: 1.875rem;
    height: 0.125rem;
    background-color: var(--clr-ui-light);
    border-radius: 5px;
    transform: translateX(-14px);
    background-color: transparent;
    transition: all 0.1s ease-in-out;    
}

.hamburger_open::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--clr-ui-light);
    border-radius: 5px;
    transition: all 0.2s ease-in-out; 
    transform: rotate(45deg) translate(0px,0px);     
}

.hamburger_open::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--clr-ui-light);
    border-radius: 5px;
    transition: all 0.2s ease-in-out; 
    transform: rotate(-45deg) translate(0px,0px);    
}

@media screen and (min-width:48rem) {
    .navbar{
        padding-inline: 3rem;
        max-width: 50rem;
    }
}

@media screen and (min-width:64rem) {
    .navbar{
        padding-inline: 4rem;
        max-width: 72rem;
    }

    .menu{
        display: none;
    }
}

@media screen and (min-width:80rem) {
    .navbar{
        max-width: 88rem;
    }
}

@media screen and (min-width:96rem) {
    .navbar{
        max-width: 92rem;
        height: 4rem;
    }
}